.wrapper {
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    
    .row {
        padding: 32px 16px;
        display: flex;
        cursor: pointer;

        .number {
            width: 6.8vw;
        }

        .string {
            width: 8.8vw;
        }

        .item {
            font-family: "Roboto";
            text-align: center;
        }
    }
}