.wrapper {
    height: calc(100vh - 101px);

    display: flex;
    flex-direction: column;
    align-items: center;

    scroll-snap-align: start;

    .header {
        margin: 100px 0 100px;
        text-transform: capitalize;
        font-size: 36px;
        line-height: 40px;
    }

    .content {
        width: 100vw;
        display: flex;
        justify-content: center;

        .profiles {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: center;
            width: calc(50vw - 150px);
            margin-right: 60px;

            .grid {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 500px;

                .image {
                    width: 100px;
                    height: 100px;
                    margin: 20px;
                    border-radius: 50%;
                    background: white;
                    object-fit: contain;
                }

            }
        }

        .description {
            width: calc(50vw - 150px - 60px);

            .text {
                font-family: 'Montserrat';
                font-size: 28px;
                line-height: 34px;
                font-weight: 400;
            }

            .button {
                margin-top: 50px;
                width: 166px;
                height: 48px;

                font-family: 'Montserrat';
                font-size: 18px;
                line-height: 22px;
                font-weight: 400;
                text-transform: uppercase;

                display: flex;
                justify-content: center;
                align-items: center;

                background: #296F8A;
                box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
            }
        }
    }
}

.logo {
    position: relative;
    cursor: pointer;

    .overlay {
        position: absolute;
        left: 20px;
        top: 20px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        z-index: 2;
        width: 100px;
        height: 100px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: white;
        overflow: hidden;

        .name {
            position: relative;
            font-size: 16px;
            line-height: 18px;
            font-weight: bold;
            margin-bottom: 5px;
            margin-top: 45%;
            transform: translateY(-50%);
            animation: nameAnime 500ms 1;
        }

        .role {
            position: relative;
            font-size: 12px;
            line-height: 13px;
            font-weight: 300;
            max-width: 75px;
            text-align: center;
            transform: translateY(-50%);
            animation: roleAnime 500ms 1;
        }
    }

    .image {
        z-index: 1;
    }
}

.mobile {
    height: calc(100vh - 50px);

    .header {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 40px;
    }

    .content {
        .profiles {
            display: none;
        }

        .description {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc(100vw - 56px);
            text-align: center;

            font-size: 24px;
            line-height: 28px;
        }
    }
}

@keyframes nameAnime {
    from {top: -200px;}
    to {top: 0px;}
}

@keyframes roleAnime {
    from {left: 200px;}
    to {left: 0px;}
}
