.content {
    font-family: 'Poppins';
    color: black;
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 500px);
    height: calc(100vh - 120px - 180px);
    padding: 90px 250px;
    background: rgba($color: #E5E5E5, $alpha: 0.5);

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
            font-size: 36px;
            width: 464px;
        }

        .images {
            height: 480px;
            width: 464px;
            display: flex;
            position: relative;

            .leftImage {
                position: absolute;
                left: -260px;
                top: 0;
                z-index: 2;
            }

            .rightImage {
                position: absolute;
                left: -170px;
                top: -25px;
                z-index: 1;
            }
        }

        .icons {
            display: flex;
            align-self: flex-start;
            margin-left: 20px;

            .playstore {
                margin-right: 30px;
            }
        }
    }

    .right {
        height: fit-content;
        padding: 32px 36px;
        background: #F3F3F3;
        box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.2);
        border-radius: 30px;

        display: flex;
        flex-direction: column;

        .banner {
            height: 400px;
            width: 732px;
            border-radius: 20px;
        }

        .icons {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 25px 25px;
            padding: 32px 64px;

            .icon {
                display: flex;

                img {
                    width: 32px;
                    margin-right: 15px;
                    object-fit: scale-down;
                }

                .text {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    color: #262626;
                    max-width: 164px;
                }
            }
        }

        .button {
            font-family: 'PoppinsLight';
            margin: 8px auto 0 auto;
            width: 355px;
            height: 69px;

            background: #092C4C;
            border-radius: 10px;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 24px;
            color: #F3F3F3;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}