.wrapper {
    font-family: 'Comfortaa';
    width: 650px;
    height: 650px;

    .types {
        display: flex;
        cursor: pointer;

        .type {
            margin: 0;
            height: 100px;
            width: 216px;
            background: #EFEFEF;
            font-size: 24px;

            display: flex;
            justify-content: center;
            align-items: center;

            &.selected {
                background-color: white;
            }
        }
    }

    .details {
        font-family: 'Montserrat';
        padding: 50px 70px 80px;

        font-size: 18px;
        line-height: 24px;

        h2, p {
            margin-top: 0;
        }
    }

    .button {
        margin: 0;
        position: absolute;
        left: 50px;
        bottom: 24px;
        height: 60px;
        width: 550px;
        background: #092C4C;
        border-radius: 5px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 24px;
        text-transform: uppercase;
        color: white;
    }
}