.wrapper {
    position: relative;
    overflow-x: hidden;
    background: #121212;
    scroll-behavior: smooth;

    scroll-snap-type: y mandatory;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
    display: none;
} 